// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

// Footer Widgets

footer {
	@media print {
		display: none;
	}
}

#colophon {
	margin: 0 auto;

	#first {
		// margin-bottom: 45px;
		// background: url(../images/footer-logo.png) no-repeat 0 0;
		// background-size: contain;
		// // @include breakpoint(medium) {
		// // 	margin: 45px 0 0 98px;
		// // }
	}
	#second, #third {
		@include breakpoint(medium) {
			max-width: 260px;

			p {
				margin-bottom: 13px;
			}
		}

	}
	.social-icon {
		display: inline-block;
		margin-right: 5px;
	}
}

.footer-bottom {
	padding: 20px 0;
	background: $neutral-tan;
	font-size: 13px;
	color: $neutral-noir;
	font-weight: 300;
	.copyright {
		float: left;
		@include breakpoint(medium) {
			padding-top: 20px;
		}
	}
	.clevnet {
		padding-top: 20px;
		@include breakpoint(medium) {
			float: right;
			padding-top: 0;
		}
	}
}

.footerthree .widget-area {
	@include breakpoint(small) {
		margin-right: 2%;
	}
	@include breakpoint(large) {
		margin-right: 7%;
	}
}

#footer .widget-title {
	color: $neutral-noir;
	font-weight: bold;
	// Overrides
	background: transparent;
    font-size: 20px;
    padding: 5px 0;
    padding-left: 0;
    text-align: left;
    margin-bottom: 10px;
    border-bottom: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

table.hours {
	width: 97%;
	margin-bottom: 25px;
	color: #333;
	tr {
		border-bottom: 1px solid #b1b3b3;
		&:first-child {
			border-bottom: 2px solid #b1b3b3;
		}
		&:last-child {
			border-bottom: none;
		}
	}
	td {
		padding: 5px 0;
		text-align: right;
		&:first-child {
			text-align: left;
		}
		&.title {
			color: $neutral-noir;
		    font-weight: bold;
		    font-size: 20px;
		}
	}
	&:last-child {
		tr:last-child {
			border-bottom: 1px solid #b1b3b3;
		}
	}
}
