.l-contained {
  @include clearfix;
  margin: 0 auto;
  max-width: $page-width;
  padding-left: 2%;
  padding-right: 2%;
}


// use for events

.cpl-flex-container {
display: flex;
flex-flow: row wrap; 
justify-content: center; 
padding: 0 0 2em 0;

}

.cpl-flex-item {
flex-basis: 400px;
min-height: 500px; 
padding: 30px; 
// vertical-align: top;
// margin: 0 10px 10px 10px;  
// width: 240px;
}

