

body.custom-background {
	// hide body bg
	background-image: none;
}

.l-header {
  @include clearfix;
  padding: 0;
}

#header-widget-area {
	display: block;
	width: auto;
	margin: 10px 0 0 0
}

#menu-top-menu {
	.widget-container {
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
		margin-left: 15px;
		font-weight: 600;
		font-size: 15px;
		text-transform: uppercase;
		a {
			color: #fff;
		}
	}
}

.l-nav-container {
	position: relative;
	background: #000;
	@include breakpoint(medium) {
		height: 155px;
	}
	.l-contained {
		position: relative;
		padding: 0;
	}


	&.l-nav-container--reimagining {
		border-bottom: 42px solid $dark-blue;
	}

	&.l-nav-container--default {
		border-bottom: 42px solid $primary-blue;
	}
}

.l-nav {
	position: relative;
	.menu {
		text-transform: uppercase;
		&>li {
			display: inline-block;
			&>a {
				color: #fff;
				display: block;
				font-size: calc(.65em + 1.5vw);
				font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        min-height: 115px; // pushes down menu-primary
				padding: 54px 15px 10px 11px;
				@include breakpoint(small) {
          padding: 54px 15px 10px 15px;
          // can't use calc anymore; becomes too large
          font-size: 20px;
				}
				span {
					display: block;
          text-align: center;
					// font-size: 14px;
					// font-weight: 400;
				}
				&:hover {
				    opacity: .8;
				}
			}
			.menu-primary--default {
				display: none;
				position: absolute;
				z-index: 1000;
				background: $primary-blue;
				height: 35px;
				width: 130%;
				@include breakpoint(medium) {
					display: block;
				}
				li {
					display: block;
					background-color: $primary-blue;
					font-weight: 700;
					@include breakpoint(medium) {
						display: inline-block;
						margin-right: 5px;
						&:last-child {
							margin-right: 0;
						}
					}
					@include breakpoint(large) {
						display: inline-block;
						margin-right: 20px;
						&:last-child {
							margin-right: 0;
						}
					}
					a {
						color: #fff;
						padding: 15px;
						font-size: 15px;
						text-align: center;
						display: block;
						@include breakpoint(medium) {
							padding: 5px;
							text-align: left;
							line-height: 35px;
							display: inline;
						}
					}
					.sub-menu {
						display: none;
						position: absolute;
						background: $primary-blue;
						li {
							display: block;
							padding: 2px 0;
							text-transform: none;
							a {
								display: block;
								padding: 0 10px;
							}
						}
					}
					&:hover {
						&> .sub-menu {
							@include breakpoint(medium) {
								display: block;
							}
						}
					}
				}
				&.open {
					display: block;
					height: auto;
				}
			}
			.menu-primary--reimagining {
				display: none;
				position: absolute;
				z-index: 1000;
				background: $dark-blue;
				height: 35px;
				width: 100%;
				@include breakpoint(medium) {
					display: block;
				}
				li {
					display: block;
					background-color: $dark-blue;
					font-weight: 700;
					@include breakpoint(medium) {
						display: inline-block;
						margin-right: 5px;
						&:last-child {
							margin-right: 0;
						}
					}
					@include breakpoint(large) {
						display: inline-block;
						margin-right: 20px;
						&:last-child {
							margin-right: 0;
						}
					}
					a {
						color: #fff;
						padding: 15px;
						font-size: 15px;
						text-align: center;
						display: block;
						@include breakpoint(medium) {
							padding: 5px;
							text-align: left;
							line-height: 35px;
							display: inline;
						}
					}
					.sub-menu {
						display: none;
						position: absolute;
						background: $dark-blue;
						li {
							display: block;
							padding: 2px 0;
							text-transform: none;
							a {
								display: block;
								padding: 0 10px;
							}
						}
					}
					&:hover {
						&> .sub-menu {
							@include breakpoint(medium) {
								display: block;
							}
						}
					}
				}
				&.open {
					display: block;
					height: auto;
				}
			}
			&.active--default {
				a {
					background: $primary-blue;
				}
			}
			&.active--reimagining {
				a {
					background: $dark-blue;
				}
			}
		}
	}
	.menu-toggle {
		position: absolute;
		z-index: 9000;
		right: 5px;
		top: 110px;
		width: 26px;
		height: 26px;
		display: block;
		color: #fff;
		font-size: 28px;
		line-height: 35px;
		@include breakpoint(medium) {
			display: none;
		}
		.fa-times {
			display: none;
		}
		&.open {
			.fa-bars {
				display: none;
			}
			.fa-times {
				display: inline-block;
			}
		}
	}
}

.l-search {
	display: block;
	border-width: .25em;
	border-style: solid;
	border-color: $yellow;
	position: absolute;
	top: 0em;
	right: .25em;
	@include breakpoint(small) {
		top: 1.25em;
	}
	@include breakpoint(large) {
		top: 2.25em;
	}
}
