.l-top {
  @media print {
    display: none;
    }
  background: $primary-blue;
  .block {
    display: inline-block;
    vertical-align: middle;
  }
}

.block--cpl-branding {
  display: inline-block;
  background: url('../images/logo-TheCenter_icon_2935_rev.svg');
  height: 13vh;
  width: 25vw;
  background-color: $primary-blue;
  background-repeat: no-repeat;

	@include breakpoint(small) {
    background: url('../images/logo-horizontal_2935_rev-frontpage.svg');
    height: 68px;
    background-size: 180px 68px;
    background-repeat: no-repeat;
	}
}

.l-top-left {
  float: left;
  width: 30%;
}

.l-top-right {
  float: right;
  width: 70%;
}

.l-contained--top {
  padding: 5px 2%;
  position: relative;
}

