// -----------------------------------------------------------------------------
// This file contains all styles related to the alert component.
// -----------------------------------------------------------------------------
// based on https://github.com/18F/web-design-standards/blob/c7871cf373e4d7b6158ff6b2a45ead93b5f528c8/src/stylesheets/components/_alerts.scss

// maybe go in the variables folder?

$alerts: (
	warning: $light-pink,
	error: $light-blue,
	info: $primary-yellow,
  success: rgba($second-teal, .4)
	);

// todo add a darker blue
$alerts-bar: (
	warning: $pink,
	error: $light-blue,
	info: $yellow,
  success: $second-teal
	);


  .cpl-alert {
    background-position: 2rem 2rem;
    background-repeat: no-repeat;
    background-size: 4.2rem; // TODO abrituary number based on svg size maybe?
    position: relative;
    padding: 0.75em;
    margin-top: 30px;
    margin-bottom: 30px;

    &::before {
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 12px;
        // width: $bar-size;
      }

    a	{
       color: darken($light-blue, 15%);

    }
  }

  .cpl-alert__icon {
      display: table-cell;
      padding-right: 10px;
  }

  .cpl-alert__body {
    display: table-cell;
    padding-left: 100px;
    vertical-align: top;
    @include breakpoint(medium) {
      padding-left: 115px;
    }
  }

  .cpl-alert__heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
  }

  .cpl-alert__text {
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Work Sans", sans-serif;
  }



@each $name, $bgcolor in $alerts {
	.cpl-alert--#{$name} {
		background-color: $bgcolor;
		background-image: url('../images/alerts/#{$name}.png');
		background-image: url('../images/alerts/#{$name}.svg');

	  &::before {
	  	background-color: map-get($alerts-bar, $name);
	  }
	}
}
