// -----------------------------------------------------------------------------
// This file contains all styles related to the announcement component.
// -----------------------------------------------------------------------------
// based on https://github.com/18F/web-design-standards/blob/c7871cf373e4d7b6158ff6b2a45ead93b5f528c8/src/stylesheets/components/_alerts.scss

// maybe go in the variables folder?

.cpl-announcement {
  font-size: 1.1em;
  line-height: 1.2em;
  text-align: center;
  padding-top: 1em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-bottom: 1em;
  color: $neutral-noir;
  background-color: $primary-yellow;
  @include breakpoint(medium) {
    font-size: 1.15em;
    line-height: 1.3em;
    padding-left: 4em;
    padding-right: 4em;
  }


}
