@font-face {
  font-family: "WorkSans-Regular";
  src: url("fonts/WorkSans-Regular-subset.woff2") format("woff2"), url("fonts/WorkSans-Medium-subset.woff") format("woff"); }

@font-face {
  font-family: "WorkSans-Medium";
  src: url("fonts/WorkSans-Medium-subset.woff2") format("woff2"), url("fonts/WorkSans-Medium-subset.woff") format("woff"); }

@font-face {
  font-family: "Spectral-Regular";
  src: url("fonts/Spectral-Regular-subset.woff2") format("woff2"), url("fonts/Spectral-Regular-subset.woff") format("woff"); }

body,
body.custom-background {
  font-family: "WorkSans-Medium", sans-serif !important;
  background-color: #fff !important;
  background-image: none;
  line-height: 1.4; }

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  word-wrap: normal !important; }
  .screen-reader-text:focus {
    background-color: #ffffff;
    clip: auto !important;
    clip-path: none;
    color: #0057B7;
    display: block;
    font-size: 1.2em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

a {
  color: #0057B7; }
  a:focus, a:hover {
    color: #F21800;
    text-decoration: underline; }
  a:visited {
    color: #663399; }
  @media print {
    a {
      color: black;
      text-decoration: underline; }
      a:visited {
        color: black; } }

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6, #front-text1 h1, #front-text2 h1, .column-header-image, #content h1.entry-title a, #content h2.entry-title a, #content h1.entry-title, #content h2.entry-title {
  font-family: "WorkSans-Medium", sans-serif !important; }

#content .entry-title {
  font-weight: 700; }

.entry-content h2 {
  font-weight: 700;
  margin-bottom: .5rem;
  line-height: 1.15;
  font-size: 28px; }

.entry-content h3 {
  font-weight: 700;
  margin-bottom: .5rem;
  line-height: 1.15;
  font-size: 24px; }

.entry-content h4 {
  font-weight: 700;
  margin-bottom: .5rem;
  line-height: 1.15;
  font-size: 20px; }

.entry-content h5 {
  font-weight: 700;
  margin-bottom: .5rem;
  line-height: 1.15;
  font-size: 18px; }

#content .page-title {
  border-color: transparent;
  font-size: 1em;
  font-weight: normal;
  line-height: 150%;
  padding: 5px 10px;
  margin-bottom: 25px; }

.page-title span {
  font-family: "WorkSans-Regular", sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 700; }

div.cpl-event-detail {
  font-weight: 700; }

.entry-summary {
  font-family: "WorkSans-Medium", sans-serif; }

/* specific to the board agenda formatting */
.cpl-list-board--agenda > li {
  list-style-type: decimal;
  font-weight: 700; }

.cpl-list-board--agenda ul {
  font-weight: initial; }

.cpl-list-board--agenda ol {
  list-style-type: upper-alpha;
  font-weight: initial; }

.cpl-list-board--agenda ol ol {
  list-style-type: lower-roman; }

.cpl-list-board--agenda ol ol ol {
  list-style-type: lower-alpha; }

.wp-block-gallery {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

body.custom-background {
  background-image: none; }

.l-header {
  padding: 0; }
  .l-header::after {
    content: '';
    display: table;
    width: 100%; }

#header-widget-area {
  display: block;
  width: auto;
  margin: 10px 0 0 0; }

#menu-top-menu .widget-container {
  margin: 0;
  padding: 0; }

#menu-top-menu li {
  display: inline-block;
  margin-left: 15px;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase; }
  #menu-top-menu li a {
    color: #fff; }

.l-nav-container {
  position: relative;
  background: #000; }
  @media (min-width: 979px) {
    .l-nav-container {
      height: 155px; } }
  .l-nav-container .l-contained {
    position: relative;
    padding: 0; }
  .l-nav-container.l-nav-container--reimagining {
    border-bottom: 42px solid #0080A9; }
  .l-nav-container.l-nav-container--default {
    border-bottom: 42px solid #0057B7; }

.l-nav {
  position: relative; }
  .l-nav .menu {
    text-transform: uppercase; }
    .l-nav .menu > li {
      display: inline-block; }
      .l-nav .menu > li > a {
        color: #fff;
        display: block;
        font-size: calc(.65em + 1.5vw);
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        min-height: 115px;
        padding: 54px 15px 10px 11px; }
        @media (min-width: 768px) {
          .l-nav .menu > li > a {
            padding: 54px 15px 10px 15px;
            font-size: 20px; } }
        .l-nav .menu > li > a span {
          display: block;
          text-align: center; }
        .l-nav .menu > li > a:hover {
          opacity: .8; }
      .l-nav .menu > li .menu-primary--default {
        display: none;
        position: absolute;
        z-index: 1000;
        background: #0057B7;
        height: 35px;
        width: 130%; }
        @media (min-width: 979px) {
          .l-nav .menu > li .menu-primary--default {
            display: block; } }
        .l-nav .menu > li .menu-primary--default li {
          display: block;
          background-color: #0057B7;
          font-weight: 700; }
          @media (min-width: 979px) {
            .l-nav .menu > li .menu-primary--default li {
              display: inline-block;
              margin-right: 5px; }
              .l-nav .menu > li .menu-primary--default li:last-child {
                margin-right: 0; } }
          @media (min-width: 1200px) {
            .l-nav .menu > li .menu-primary--default li {
              display: inline-block;
              margin-right: 20px; }
              .l-nav .menu > li .menu-primary--default li:last-child {
                margin-right: 0; } }
          .l-nav .menu > li .menu-primary--default li a {
            color: #fff;
            padding: 15px;
            font-size: 15px;
            text-align: center;
            display: block; }
            @media (min-width: 979px) {
              .l-nav .menu > li .menu-primary--default li a {
                padding: 5px;
                text-align: left;
                line-height: 35px;
                display: inline; } }
          .l-nav .menu > li .menu-primary--default li .sub-menu {
            display: none;
            position: absolute;
            background: #0057B7; }
            .l-nav .menu > li .menu-primary--default li .sub-menu li {
              display: block;
              padding: 2px 0;
              text-transform: none; }
              .l-nav .menu > li .menu-primary--default li .sub-menu li a {
                display: block;
                padding: 0 10px; }
          @media (min-width: 979px) {
            .l-nav .menu > li .menu-primary--default li:hover > .sub-menu {
              display: block; } }
        .l-nav .menu > li .menu-primary--default.open {
          display: block;
          height: auto; }
      .l-nav .menu > li .menu-primary--reimagining {
        display: none;
        position: absolute;
        z-index: 1000;
        background: #0080A9;
        height: 35px;
        width: 100%; }
        @media (min-width: 979px) {
          .l-nav .menu > li .menu-primary--reimagining {
            display: block; } }
        .l-nav .menu > li .menu-primary--reimagining li {
          display: block;
          background-color: #0080A9;
          font-weight: 700; }
          @media (min-width: 979px) {
            .l-nav .menu > li .menu-primary--reimagining li {
              display: inline-block;
              margin-right: 5px; }
              .l-nav .menu > li .menu-primary--reimagining li:last-child {
                margin-right: 0; } }
          @media (min-width: 1200px) {
            .l-nav .menu > li .menu-primary--reimagining li {
              display: inline-block;
              margin-right: 20px; }
              .l-nav .menu > li .menu-primary--reimagining li:last-child {
                margin-right: 0; } }
          .l-nav .menu > li .menu-primary--reimagining li a {
            color: #fff;
            padding: 15px;
            font-size: 15px;
            text-align: center;
            display: block; }
            @media (min-width: 979px) {
              .l-nav .menu > li .menu-primary--reimagining li a {
                padding: 5px;
                text-align: left;
                line-height: 35px;
                display: inline; } }
          .l-nav .menu > li .menu-primary--reimagining li .sub-menu {
            display: none;
            position: absolute;
            background: #0080A9; }
            .l-nav .menu > li .menu-primary--reimagining li .sub-menu li {
              display: block;
              padding: 2px 0;
              text-transform: none; }
              .l-nav .menu > li .menu-primary--reimagining li .sub-menu li a {
                display: block;
                padding: 0 10px; }
          @media (min-width: 979px) {
            .l-nav .menu > li .menu-primary--reimagining li:hover > .sub-menu {
              display: block; } }
        .l-nav .menu > li .menu-primary--reimagining.open {
          display: block;
          height: auto; }
      .l-nav .menu > li.active--default a {
        background: #0057B7; }
      .l-nav .menu > li.active--reimagining a {
        background: #0080A9; }
  .l-nav .menu-toggle {
    position: absolute;
    z-index: 9000;
    right: 5px;
    top: 110px;
    width: 26px;
    height: 26px;
    display: block;
    color: #fff;
    font-size: 28px;
    line-height: 35px; }
    @media (min-width: 979px) {
      .l-nav .menu-toggle {
        display: none; } }
    .l-nav .menu-toggle .fa-times {
      display: none; }
    .l-nav .menu-toggle.open .fa-bars {
      display: none; }
    .l-nav .menu-toggle.open .fa-times {
      display: inline-block; }

.l-search {
  display: block;
  border-width: .25em;
  border-style: solid;
  border-color: #FCCE06;
  position: absolute;
  top: 0em;
  right: .25em; }
  @media (min-width: 768px) {
    .l-search {
      top: 1.25em; } }
  @media (min-width: 1200px) {
    .l-search {
      top: 2.25em; } }

@media print {
  footer {
    display: none; } }

#colophon {
  margin: 0 auto; }
  @media (min-width: 979px) {
    #colophon #second, #colophon #third {
      max-width: 260px; }
      #colophon #second p, #colophon #third p {
        margin-bottom: 13px; } }
  #colophon .social-icon {
    display: inline-block;
    margin-right: 5px; }

.footer-bottom {
  padding: 20px 0;
  background: #CBC4BC;
  font-size: 13px;
  color: #000000;
  font-weight: 300; }
  .footer-bottom .copyright {
    float: left; }
    @media (min-width: 979px) {
      .footer-bottom .copyright {
        padding-top: 20px; } }
  .footer-bottom .clevnet {
    padding-top: 20px; }
    @media (min-width: 979px) {
      .footer-bottom .clevnet {
        float: right;
        padding-top: 0; } }

@media (min-width: 768px) {
  .footerthree .widget-area {
    margin-right: 2%; } }

@media (min-width: 1200px) {
  .footerthree .widget-area {
    margin-right: 7%; } }

#footer .widget-title {
  color: #000000;
  font-weight: bold;
  background: transparent;
  font-size: 20px;
  padding: 5px 0;
  padding-left: 0;
  text-align: left;
  margin-bottom: 10px;
  border-bottom: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

table.hours {
  width: 97%;
  margin-bottom: 25px;
  color: #333; }
  table.hours tr {
    border-bottom: 1px solid #b1b3b3; }
    table.hours tr:first-child {
      border-bottom: 2px solid #b1b3b3; }
    table.hours tr:last-child {
      border-bottom: none; }
  table.hours td {
    padding: 5px 0;
    text-align: right; }
    table.hours td:first-child {
      text-align: left; }
    table.hours td.title {
      color: #000000;
      font-weight: bold;
      font-size: 20px; }
  table.hours:last-child tr:last-child {
    border-bottom: 1px solid #b1b3b3; }

.l-contained {
  margin: 0 auto;
  max-width: 1150px;
  padding-left: 2%;
  padding-right: 2%; }
  .l-contained::after {
    content: '';
    display: table;
    width: 100%; }

.cpl-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 0 2em 0; }

.cpl-flex-item {
  flex-basis: 400px;
  min-height: 500px;
  padding: 30px; }

@media print {
  #primary {
    display: none; } }

.cpl-list-sidebar {
  margin-left: 1em;
  list-style-type: square; }

.l-top {
  background: #0057B7; }
  @media print {
    .l-top {
      display: none; } }
  .l-top .block {
    display: inline-block;
    vertical-align: middle; }

.block--cpl-branding {
  display: inline-block;
  background: url("../images/logo-TheCenter_icon_2935_rev.svg");
  height: 13vh;
  width: 25vw;
  background-color: #0057B7;
  background-repeat: no-repeat; }
  @media (min-width: 768px) {
    .block--cpl-branding {
      background: url("../images/logo-horizontal_2935_rev-frontpage.svg");
      height: 68px;
      background-size: 180px 68px;
      background-repeat: no-repeat; } }

.l-top-left {
  float: left;
  width: 30%; }

.l-top-right {
  float: right;
  width: 70%; }

.l-contained--top {
  padding: 5px 2%;
  position: relative; }

.cpl-alert {
  background-position: 2rem 2rem;
  background-repeat: no-repeat;
  background-size: 4.2rem;
  position: relative;
  padding: 0.75em;
  margin-top: 30px;
  margin-bottom: 30px; }
  .cpl-alert::before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 12px; }
  .cpl-alert a {
    color: #006a8d; }

.cpl-alert__icon {
  display: table-cell;
  padding-right: 10px; }

.cpl-alert__body {
  display: table-cell;
  padding-left: 100px;
  vertical-align: top; }
  @media (min-width: 979px) {
    .cpl-alert__body {
      padding-left: 115px; } }

.cpl-alert__heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px; }

.cpl-alert__text {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Work Sans", sans-serif; }

.cpl-alert--warning {
  background-color: #E58EAC;
  background-image: url("../images/alerts/warning.png");
  background-image: url("../images/alerts/warning.svg"); }
  .cpl-alert--warning::before {
    background-color: #D51D7E; }

.cpl-alert--error {
  background-color: #00A4D9;
  background-image: url("../images/alerts/error.png");
  background-image: url("../images/alerts/error.svg"); }
  .cpl-alert--error::before {
    background-color: #00A4D9; }

.cpl-alert--info {
  background-color: #E9E186;
  background-image: url("../images/alerts/info.png");
  background-image: url("../images/alerts/info.svg"); }
  .cpl-alert--info::before {
    background-color: #FCCE06; }

.cpl-alert--success {
  background-color: rgba(148, 183, 187, 0.4);
  background-image: url("../images/alerts/success.png");
  background-image: url("../images/alerts/success.svg"); }
  .cpl-alert--success::before {
    background-color: #94B7BB; }

.cpl-announcement {
  font-size: 1.1em;
  line-height: 1.2em;
  text-align: center;
  padding-top: 1em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-bottom: 1em;
  color: #000000;
  background-color: #E9E186; }
  @media (min-width: 979px) {
    .cpl-announcement {
      font-size: 1.15em;
      line-height: 1.3em;
      padding-left: 4em;
      padding-right: 4em; } }

.wp-block-button.is-style-cpl-button--action.wp-block-button__link,
.is-style-cpl-button--action .wp-block-button__link {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1em;
  font-weight: 600;
  padding: 0.75em 1.5em;
  border-radius: 0 0 0 0;
  background-color: #FCCE06;
  color: #000;
  text-align: center;
  text-decoration: none;
  overflow-wrap: break-word; }
  .wp-block-button.is-style-cpl-button--action.wp-block-button__link:hover, .wp-block-button.is-style-cpl-button--action.wp-block-button__link:focus, .wp-block-button.is-style-cpl-button--action.wp-block-button__link:active, .wp-block-button.is-style-cpl-button--action.wp-block-button__link:visited,
  .is-style-cpl-button--action .wp-block-button__link:hover,
  .is-style-cpl-button--action .wp-block-button__link:focus,
  .is-style-cpl-button--action .wp-block-button__link:active,
  .is-style-cpl-button--action .wp-block-button__link:visited {
    box-shadow: inset 0 0 0 2px;
    text-decoration: underline; }

.cpl-button {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  padding: 0.75em 1.5em;
  border-radius: none; }
  .cpl-button.cpl-button-action {
    background-color: #E9E186;
    color: #000000; }
  .cpl-button.cpl-button-status {
    color: #FFF;
    background-color: #ed028c; }
  .cpl-button.cpl-button-action--search {
    background-color: #E9E186;
    color: #000000;
    background-image: url("../images/search.svg");
    background-position: 100%;
    background-repeat: no-repeat;
    padding-right: 1.75em; }
  .cpl-button:hover, .cpl-button:focus {
    box-shadow: inset 0 0 0 2px;
    text-decoration: underline; }

.wp-block-buttons > .wp-block-button {
  margin-top: .75rem;
  margin-bottom: .75rem; }

/** from https://github.com/scottaohara/accessible_modal_window/commit/04cdbe958a7298feda9b405fb43ce12f11a52817
 * Trigger styling
 */
[data-modal-open][hidden] {
  display: none; }

/**
 * When a modal dialog is open, don't allow scrolling of content
 * beneath (on desktop). Also useful in negating instances of
 * double scroll bars.
 * (browser window + dialog if long enough content)
 */
body.modal-open {
  overflow: hidden; }

/**
 * Modal Dialog base styling
 */
.js [data-modal],
.a11y-modal {
  -webkit-overflow-scrolling: touch;
  background: #fff;
  border: 2px solid;
  bottom: 0;
  box-shadow: 0 0 1800px 400px rgba(0, 0, 0, 0.4);
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 660px;
  opacity: 1;
  overflow: auto;
  padding: 1.25em;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateY(0%);
  visibility: visible;
  width: 100%;
  z-index: 3000;
  /* only modification from Scott O Hara library at this point*/ }

@media screen and (min-height: 440px) and (min-width: 500px) {
  .js [data-modal],
  .a11y-modal {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .2s ease-in-out, transform .2s ease-in-out; } }

/**
 * To allow for CSS animations, hidden modal dialogs are
 * not set to display: none, but rather the following rule
 * set, in combination with the dialog's default
 * position: fixed, will keep dialogs hidden from
 * all users until opened.
 *
 * This also solves an issue with iOS VO + Safari not allowing
 * modal dialogs to be focused, if the dialog is initially
 * set to "display: none".
 */
.js [data-modal][hidden]
.a11y-modal[hidden] {
  display: block;
  opacity: 0;
  pointer-events: none;
  transform: translateY(15vh);
  visibility: hidden; }

.a11y-modal__close-btn {
  border: none; }

.is-icon-btn {
  background: none;
  border: none;
  height: 2em;
  padding: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 2em; }

.is-icon-btn:hover [data-modal-x],
.is-icon-btn:focus [data-modal-x] {
  color: #600;
  transform: scale(1.3) rotate(45deg);
  transition: transform .2s ease-in-out; }

[data-modal-x] {
  border-right: 2px solid;
  bottom: 0;
  display: block;
  height: 2em;
  left: 0;
  margin: auto;
  pointer-events: none;
  position: relative;
  right: 0;
  top: 0;
  transform: rotate(45deg);
  width: 2px; }

[data-modal-x]:after {
  border-right: 2px solid;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-90deg);
  width: 100%; }

.form-search {
  margin: 1.5em;
  border: black;
  padding: 1.5em;
  border-style: solid; }

.radio-row label {
  display: block; }

.label-large {
  display: block;
  font-size: 30px; }

/* need to override parent-theme ugh, ref #152 */
textarea, select,
input[type="text"], input[type="password"], input[type="email"],
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"],
input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"] {
  border-style: solid;
  border-color: black;
  border-width: 0.12em;
  background-color: white; }

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  border-style: solid;
  border-color: black;
  border-width: 0.20em;
  box-shadow: inset 0 0 0 2px; }

legend {
  font-size: 1.5em;
  padding-right: .5em;
  padding-top: .5em;
  padding-bottom: .5em; }

input[type="radio"]:focus {
  outline: .25em;
  outline-color: #FCCE06;
  outline-style: solid; }

.cpl-group--reusable--social {
  margin-top: 4.5em; }

.wp-block-social-links.wp-block-social-links--reusable {
  margin-left: 0; }

.home #main {
  max-width: 100%;
  margin-top: 0; }

.home #front-columns {
  max-width: 1150px;
  margin: 0 auto; }

.home #pp-afterslider {
  margin: 0; }

.home .slick-slider .slick-dots {
  display: none; }

.home-slider {
  border-color: #000;
  position: relative;
  overflow: hidden; }

.slick-slider .slick-image-slide img {
  width: 100%;
  height: auto; }

.slick-slider .slick-image-slide {
  width: 100%; }

.slick-slider .slick-track {
  background: #000; }

.slick-slider .slick-arrow {
  position: absolute;
  top: 48%;
  border: none;
  box-shadow: none;
  text-indent: -10000em;
  z-index: 300;
  width: 28px;
  height: 48px; }

@media (min-width: 768px) {
  .slick-slider .slick-slide {
    max-height: 550px; } }

.slick-slider .content {
  padding: 30px 40px;
  color: #fff;
  font-size: 16px;
  background-color: #000; }
  @media (min-width: 768px) {
    .slick-slider .content {
      position: absolute;
      z-index: 300;
      top: 40px;
      left: 0;
      right: 0;
      width: 520px;
      height: 290px;
      margin: 0 auto;
      background-color: rgba(0, 0, 0, 0.6); } }
  .slick-slider .content h1 {
    font-size: 35px;
    line-height: 38px;
    font-weight: bold; }
  .slick-slider .content p {
    margin: 15px 0;
    line-height: 24px; }
  .slick-slider .content img {
    width: auto; }
  .slick-slider .content .share-link {
    display: inline-block;
    margin: 5px 2px; }
  .slick-slider .content .share {
    font-size: 13px;
    line-height: 23px;
    height: 23px;
    margin-bottom: 30px; }
  .slick-slider .content .share-label {
    float: left;
    margin-top: 7px;
    margin-right: 5px; }

.slick-slider button.slick-prev, .slick-slider button.slick-prev:hover, .slick-slider button.slick-prev:focus {
  background: url(../images/arrow-prev.png) 0 0 no-repeat;
  left: 5px; }
  @media (min-width: 768px) {
    .slick-slider button.slick-prev, .slick-slider button.slick-prev:hover, .slick-slider button.slick-prev:focus {
      left: 20px; } }

.slick-slider button.slick-next, .slick-slider button.slick-next:hover, .slick-slider button.slick-next:focus {
  background: url(../images/arrow-next.png) 0 0 no-repeat;
  right: 5px; }
  @media (min-width: 768px) {
    .slick-slider button.slick-next, .slick-slider button.slick-next:hover, .slick-slider button.slick-next:focus {
      right: 20px; } }

.slick-slider .slick-prev {
  left: 20px; }

.slick-slider .slick-next {
  right: 20px; }

.column-header-image {
  color: #00A4D9;
  font-weight: 600; }

#container--grid {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 0em .85em;
  padding: 1em;
  background-color: #CBC4BC;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }
  @media (min-width: 979px) {
    #container--grid {
      grid-template-columns: repeat(3, minmax(300px, 1fr)); } }

#container--grid article.post:nth-of-type(2n+1),
#container--grid article.post,
#container--grid article.page {
  background: #e2deda;
  width: 100%;
  margin-bottom: 1em; }

#container--grid article.post .article-inner {
  color: #000000;
  padding: 1em; }

#container--grid article.post .article-inner .entry-title {
  color: #000000;
  font-size: 1.65em;
  font-weight: 700; }

#container--grid article.post .article-inner .entry-title a {
  color: #000000;
  text-decoration: underline; }

.home-topics {
  /*.l-contained {
		@include breakpoint(small) {
			max-width: 50%;
		}
		@include breakpoint(medium) {
			max-width: 1150px;
		}
	} */ }
  .home-topics h2 {
    margin: 0;
    padding: 25px 0 20px;
    background: #1b2454;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold; }
    @media (min-width: 768px) {
      .home-topics h2 {
        font-size: 35px;
        line-height: 38px; } }
    .home-topics h2 span {
      display: block;
      text-align: center;
      font-size: 16px;
      font-weight: normal; }
      @media (min-width: 768px) {
        .home-topics h2 span {
          font-size: 22px; } }
  .home-topics .bg-wrapper {
    padding: 50px 0;
    background: #0057B7;
    text-align: center; }
    .home-topics .bg-wrapper::after {
      content: '';
      display: table;
      width: 100%; }
  .home-topics .topic {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    overflow: hidden; }
    @media (min-width: 768px) {
      .home-topics .topic {
        max-width: 33%; } }
    .home-topics .topic .title {
      width: 100%;
      position: absolute;
      z-index: 2;
      top: 48%;
      color: #fff;
      font-size: 23px;
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px #969696; }
    .home-topics .topic .icon {
      position: absolute;
      z-index: 2;
      top: 24%;
      left: 0;
      right: 0;
      margin: 0 auto;
      display: block; }
    .home-topics .topic .attachment-home-topic {
      position: relative;
      margin-bottom: -10px;
      z-index: 1;
      opacity: .6;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out; }
    .home-topics .topic:hover .attachment-home-topic {
      opacity: .3; }

.presentation-page #container {
  margin-top: 0em; }

@media (max-width: 800px) {
  #forbottom #container[class*='column'] #container--grid {
    margin-bottom: 0 !important; } }

#toTop {
  display: none; }

#cryout_ajax_more_trigger {
  display: none !important; }

#frontpage-view-link {
  text-align: center; }

.children {
  text-indent: 30px; }

@media print {
  .breadcrumbs {
    display: none; } }

@media print {
  #container.two-columns-left #content {
    width: 100%; } }

@media print {
  #nav-below {
    display: none; } }

.page-template-template-one-column--full-width #main {
  max-width: 100%; }

.page-template-template-one-column--full-width #forbottom {
  margin: 0;
  padding: 0; }

.entry-content .cpl-gallery_2020-exhibit ul {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 0 4em 0;
  margin: 0; }

.cpl-gallery_2020-exhibit img {
  justify-content: center;
  display: flex;
  padding-bottom: 1.25em;
  max-width: 300px; }
  @media small {
    .cpl-gallery_2020-exhibit img {
      padding: 2em; } }

.entry-content .cpl-gallery_2020-exhibit li {
  list-style: none;
  flex-basis: 400px;
  padding: 2em; }

.cpl-span--2020-exhibit {
  display: flex;
  justify-content: center; }

.page-template-template-cleforgood #main {
  max-width: 100%;
  margin-top: 0; }

.page-template-template-cleforgood #forbottom {
  margin: 0;
  padding: 0; }

.cfg-featured-image {
  background-image: url("https://cpl.org/wp-content/themes/tempera-nocopyrt/images/cleforgood300.jpg");
  background-size: 100% auto;
  padding-bottom: 3.2 em;
  display: block;
  max-width: 100%;
  min-height: 55px;
  background-repeat: no-repeat; }
  @media (min-width: 768px) {
    .cfg-featured-image {
      background-image: url("https://cpl.org/wp-content/themes/tempera-nocopyrt/images/cleforgood768.jpg");
      min-height: 172px; } }
  @media (min-width: 1200px) {
    .cfg-featured-image {
      background-image: url("https://cpl.org/wp-content/themes/tempera-nocopyrt/images/cleforgood1200.jpg");
      min-height: 345px; } }

@media print {
  .lcs_slide_out {
    display: none; } }

/* libanswers chat */
.lcs_slide_out header a {
  border-style: hidden !important;
  left: 0px;
  bottom: 0px;
  right: -50px; }

/*# sourceMappingURL=main.css.map */